body {
    background-color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    color: black;
}
header {
    background-color:orange ;
    color:black;
    text-align: center;
    padding: 30px;

}
header h1{
    font-size: 30;
    margin-bottom: 10px;
}
header p{
    font-size: 18px;
}
main{
    width: 90%;
    margin: 20px auto;
}
section{
    background-color: aquamarine;
    padding: 20px; 
    margin-bottom: 20px;
}
h2{
    color: blue;
    font-size: 24px;
}
p{
    font-size: 15px;
    line-height: 1.5;
}
/*my interest - flexbox */
.interest{
    display:flex;
    gap: 15px;
    justify-content: center;
}
.interest h3{
    color:blueviolet;
    color: white;
}
footer{
    background-color: white;
    text-align: center;
    padding: 15px;
}